<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Curso de Vue 2">
    <meta name="author" content="Juan Cid">
    <link rel="icon" href="favicon.ico">

    <title>Curso de Vue 2 - Styde.net - Capitulo 11</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
        <li v-for="task in tasks" class="list-group-item"
        :class="{editing: task.editing, completed: !task.pending}">
            <a href="#">
                <span class="glyphicon "
                      aria-hidden="true"
                      :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check'"></span>
            </a>

            <template v-if="!task.editing">
                <span class="description">{{ task.description }}</span>

                <div>
                    <a href="#">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">
                    </span>
                    </a>
                    <a href="#">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true">
                    </span>
                    </a>
                </div>
            </template>

            <template v-else>
                <input  type="text" v-model="task.description">

                <div>
                    <a href="#">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true">
                    </span>
                    </a>
                    <a href="#">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>
                    </a>
                </div>
            </template>





        </li>

        <!---
        <li class="list-group-item editing">
            <a href="#"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></a>
            <input type="text" value="Subscribirse en Styde">


        </li>

        <li class="list-group-item completed">
            <a href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
            <span class="description">Crear una API</span>

            <div>
                <a href="#">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">
                    </span>
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true">
                    </span>
                </a>
            </div>
        </li>
        -->
    </ul>

    <form class="new-task-form">
        <input type="text" class="form-control">
        <button class="btn btn-primary">Crear tarea</button>
    </form>

    <footer class="footer">
        <p>&copy; 2020 Juan Cid</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            tasks: [
                {
                    description: 'Aprender Vue.js',
                    pending: true,
                    editing: false
                },
                {
                    description: 'Subscribirse a Styde.net',
                    pending: true,
                    editing: true
                },
                {
                    description: 'Grabar lección de Vue',
                    pending: false,
                    editing: false
                }
            ]
        }
    });
</script>

</body>
</html>
