<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Curso de Vue 2">
    <meta name="author" content="Juan Cid">
    <link rel="icon" href="favicon.ico">

    <title>Curso de Vue 2 - Styde.net - Capitulo 11</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
        <li v-for="(task, index) in tasks" class="list-group-item"
        :class="{editing: task.editing, completed: !task.pending}">
            <a @click="toggleStatus(task)">
                <span class="glyphicon "
                      aria-hidden="true"
                      :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check'"></span>
            </a>

            <template v-if="!task.editing">
                <span class="description">{{ task.description }}</span>

                <div>
                    <a @click="editTask(task)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">
                    </span>
                    </a>
                    <a @click="deleteTask(index)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true">
                    </span>
                    </a>
                </div>
            </template>

            <template v-else>
                <input  type="text" v-model="draft">

                <div>
                    <a @click="updateTask(task)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true">
                    </span>
                    </a>
                    <a @click="discardTask(task)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>
                    </a>
                </div>
            </template>

        </li>
    </ul>
    <button class="btn btn-success" @click="deleteCompleted">Eliminar tareas completadas</button>
    <br>
    <form @submit.prevent="createTask" class="new-task-form">
        <input v-model="new_task" type="text" class="form-control">
        <button class="btn btn-primary">Crear tarea</button>
    </form>

    <footer class="footer">
        <p>&copy; 2020 Juan Cid</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            new_task: '',
            draft: '',
            tasks: [
                {
                    description: 'Aprender Vue.js',
                    pending: true,
                    editing: false
                },
                {
                    description: 'Subscribirse a Styde.net',
                    pending: true,
                    editing: false
                },
                {
                    description: 'Grabar lección de Vue',
                    pending: false,
                    editing: false
                }
            ]
        },
        methods: {
            createTask: function () {
                this.tasks.push({
                    description: this.new_task,
                    pending: true,
                    editing: false
                });

                this.new_task = '';
            },
            toggleStatus: function (task) {
                task.pending = !task.pending;
            },
            editTask: function (task) {
                this.tasks.forEach(function (task) {
                    task.editing=false;
                });
                this.draft = task.description;
                task.editing = true;
            },
            updateTask: function (task) {
                task.description = this.draft;
                task.editing = false;
            },
            discardTask: function (task) {
                task.editing = false;
            },
            deleteTask: function (index) {
                this.tasks.splice(index,1);
            },
            deleteCompleted: function () {
                this.tasks = this.tasks.filter(function (task) {
                    return task.pending;
                });
            }
        }
    });
</script>

</body>
</html>
